// variables

$dandy: #7ad9ff;
$primaryColor: hsl(180, 29%, 50%);
$lightGrayishCyan: hsl(180, 31%, 95%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);

// mixins

@mixin k-border {
  border: 1px solid lightgray;
  border-radius: 4px;
}

@mixin k-border-debug {
  border: 1px dotted red;
  border-radius: 4px;
}